body {
    background-color: black;
    background-image: url("RBM.WEBP");
          
    
}

.container { 
   color: aqua;font-weight: bold;
}


.h1 {
    color: white; font-weight: bold;
    text-align: center;
}
